div {
  text-align: center;
}
.mydiv {
  background-color: violet;
  border: 7px outset brown;
}
.mydiv2 {
  border: 4px outset springgreen;
  width: 32%;
  height: 600px;
  display: inline-block;
}
body {
  background-color: beige;
}
.hjk {
  background-color: brown;
}
.kol {
  background-color: blueviolet;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.mkj {
  color: #ee1212;
  font-size: 77px;
}
